<div class="row">
  <div class="col-11 offset-1">
    <h3 class="mb-5 mini-title">マイページ</h3>

    <table class="table table-borderless">
      <tr class="address-index-button">
        <th class="col-2"><h3 class="mini-title">登録情報</h3></th>
        <td><%= link_to '編集する', edit_customers_path, class: "btn btn-success col-2" %></td>
      </tr>
    </table>

    <table class="table table-bordered col-7 ml-3 mb-4 table-background">
      <tbody>
        <tr>
          <th class="col-4 table-active">氏名</th>
          <td><%= @customer.last_name %>　<%= @customer.first_name %></td>
        </tr>
        <tr>
          <th class="table-active">カナ</th>
          <td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
        <tr>
          <th class="table-active">郵便番号</th>
          <td><%= @customer.post_code %></td>
        </tr>
        <tr>
          <th class="table-active">住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th class="table-active">電話番号</th>
          <td><%= @customer.phone_number %></td>
        </tr>        <tr>
          <th class="table-active">メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-borderless ml-0 mb-5">
      <tr class="address-index-button">
        <th class="col-2"><h3 class="mini-title">配送先</h3></th>
        <td><%= link_to '一覧を見る', addresses_path, class: "btn btn-primary col-3" %></td>
      </tr>
      <tr class="order-index-button">
        <th class="col-2"><h3 class="mini-title">注文履歴</h3></th>
        <td><%= link_to '一覧を見る', orders_path, class: "btn btn-primary col-3" %></td>
      </tr>
    </table>

  </div>
</div>