<div class='container'>
  <div class='row'>
    <h3 class="mini-title">商品編集</h3>
  </div
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <%= render "layouts/errors", obj: @item %>
      <%= form_with model: @item, url: admin_item_path(@item), method: :patch, local: true do |f| %>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">商品画像</label>
          <div class="col-md-9">
            <%= f.file_field :image, accept: "image/*", class: "w-100" %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">商品名</label>
          <div class="col-md-9">
            <%= f.text_field :name, placeholder: "商品名", class: 'form-control item_name' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">商品説明</label>
          <div class="col-md-9">
            <%= f.text_area :introduction, size: "100x5", placeholder: "ここに説明文を記述します", class: 'form-control item_introduction' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">ジャンル</label>
          <div class="col-md-9">
            <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), class: 'form-control item_genre_id' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">税抜価格</label>
          <div class="col-md-9  d-flex flex-row">
            ￥<%= f.text_field :tax_excluded_price, placeholder: "1000", class: 'form-control item_tax_excluded_price' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :販売ステータス %>
          <%= f.radio_button :sales_status, Item.sales_statuses.key(true) %>
          <%= f.label :sales_status, Item.sales_statuses_i18n[:sale] %>
          <%= f.radio_button :sales_status, Item.sales_statuses.key(false) %>
          <%= f.label :sales_status, Item.sales_statuses_i18n[:stop_selling] %>
        </div>
        <div class="form-group" align="center">
          <%= f.submit "変更を保存",class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
