
<div class="container">
  <h2 class="mt-5 mini-title">注文履歴一覧</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="table-active">注文日</th>
          <th class="table-active">配送先</th>
          <th class="table-active">注文商品</th>
          <th class="table-active">支払金額</th>
          <th class="table-active">ステータス</th>
          <th class="table-active">注文詳細</th>
        </tr>
      </thead>
      <% @orders.each do |order| %>
      <tbody>
        <tr>
          <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
          <td>
            〒<%= order.post_code %><br>
            <%= order.address %><br>
            <%= order.name %>
          </td>
          <td>
            <% order.order_details.each do |order_detail| %>
              <%= order_detail.item.name %><br>
            <% end %>
          </td>
          <td>￥<%= order.total_payment.to_s(:delimited) %></td>
          <td><%= order.order_status_i18n %></td>
          <td colspan="6">
            <%= link_to "表示する", order_path(order), class: "btn btn-success" %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
</div>
<div class="d-flex justify-content-center">
  <%= paginate @orders, theme: 'twitter-bootstrap-4' %>
</div>